<header>
    <nav class="navbar">
        <div class="logo">
            <a href="./index.html">
                <img src="./Media/Green Cream Modern Financial Performance Dashboard Graph.png" alt="Inicio_Logo" height="80px" width="80px">
            </a>
            <p class="Titulo">Pulso Seguro Colombia</p>
            <button class="menu-toggle" aria-label="Toggle menu">☰</button>
        </div>
        <div class="bnm-2">
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./Views/Sobre Nosotros/Sobre_Nosotros.html">Sobre Nosotros</a>
                <ul>
                    <li><a href="./Views/Sobre Nosotros/Quienes_Somos.html">Quienes Somos</a></li>
                    <li><a href="./Views/Sobre Nosotros/Mision_Vision.html">Mision Y Vision</a></li>
                    <li><a href="./Views/Sobre Nosotros/Nuestro_Equipo.html">Nuestro Equipo</a></li>
                    <li><a href="./Views/Sobre Nosotros/Nuestro_Procedimiento.html">Nuestro Procedimiento</a></li>
                </ul>
                </li>
                <li><a href="./Views/Delitos/Delitos.html">Delitos</a>
                <ul>
                    <li><a href="./Views/Delitos/Tipos de delitos.html">Tipos de delitos</a></li>
                    <li><a href="./Views/Delitos/Estadisticas.html">Estadisticas</a></li>
                </ul>
                </li>
                <li><a href="./Views/Periodos/Periodos.html">Periodos</a>
                <ul>
                    <li><a href="./Views/Periodos/2018 - 2022.html">2018 - 2022</a></li>
                    <li><a href="./Views/Periodos/2022 - 2026.html">2022 - 2026</a></li>
                </ul>
                </li>
                <li><a href="./Views/Mapa_Interactivo.html">Mapa Interactivo</a></li>
                <li><a href="./Views/Recursos.html">Recursos</a></li>
                <li><a href="./Views/FAQ.html">FAQ</a></li>
                <li><a href="./Views/Contactanos.html">Contactanos</a></li>
            </ul>
        </div>
    </nav>
</header>