<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactanos</title>
    <link rel="stylesheet" href="/Css/contactanos.css">
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>
    <main>

        <section class="contact-section">
            <div class="contact-container">
                <h2>Contacto</h2>
                <p>Déjanos tu opinión o comentario</p>
                <form id="contactForm">
                    <input type="text" id="nombres" name="nombres" placeholder="Nombres*" required>
                    <input type="text" id="apellidos" name="apellidos" placeholder="Apellidos*" required>
                    <input type="email" id="email" name="email" placeholder="E-mail*" required>
                    <input type="text" id="telefono" name="numero telefonico" placeholder="Telefono" required>
                    <textarea id="message" name="message" placeholder="Tu mensaje aquí..." rows="4" required></textarea>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <custom-footer></custom-footer>
    </footer>
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.getElementById('contactForm').addEventListener('submit', (event) => {
            event.preventDefault();

            const telefonoRegex = /^\+57\d{10}$/;


            // Obtener los valores de los campos
            var nombres = document.getElementById('nombres').value;
            var apellidos = document.getElementById('apellidos').value;
            var email = document.getElementById('email').value;
            var telefono = document.getElementById('telefono').value;
            var mensaje = document.getElementById('message').value;

            if(!telefonoRegex.test(telefono)) {
                Swal.fire('Error', 'El teléfono debe comenzar con +57 y contener 10 dígitos.', 'error');
                return;
            }
            if(!nombres || !apellidos || !email || !telefono || !mensaje) {
                Swal.fire('Error', 'Debes llenar todos los campos.', 'error');
                return;
            }else {
                Swal.fire({
                    position: "top-end",
                    icon: "success",
                    title: "Gracias por contactarnos, nuestro equipo se pondra en contacto contigo",
                    showConfirmButton: false,
                    timer: 5000
                  });
            }
        });
    </script>
    <script src="../js/menu.js"></script>
    <script src="/js/model.js"></script>
</body>
</html>