<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/Css/styles.css">
</head>
<style></style>
<body>
    <header>
        <custom-header></custom-header>
    </header>

    <main>
    <img src="/Media/Delitos Sexuales/image (4).png" alt="">
    </main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


