<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELITOS SEXUALES</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>DELITO</p>
        <p>DELITOS SEXUALES</p>
    </div>
    <div class="content">
        <div class="content-0">
            <div><img src="/Media/Abigeato/6D2MAQIYGBELZKTIKT37DMQN2A.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/Robo-de-Ganado-2-2.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/foto_robo_de_ganado.jpg" alt="" width="300px" height="300px"></div>
        </div>
        <div class="content-1">
            <img src="/Media/Abigeato/Robo-de-ganado.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>Que es?</h2>
                <p>En Colombia, los <b>delitos sexuales</b> son actos que dañan la integridad sexual de las personas. Estos delitos están regulados en el Código Penal y engloban una serie de comportamientos que afectan la libertad y el desarrollo sexual de alguien, ya sea sin su consentimiento o con consentimiento obtenido de forma inapropiada. En esta guía te explicaré qué son estos delitos, cómo puedes identificarlos, cómo prevenirlos y qué sanciones conllevan. </p>
                <p><b>Definición del Delito de Delitos Sexuales</b></p>
                <p>
                    Los delitos sexuales en Colombia se definen como aquellos actos que afectan la libertad y el desarrollo sexual de una persona sin su consentimiento o con consentimiento obtenido de manera ilegítima. Estos delitos incluyen, pero no se limitan a:
                </p>
                <ol>
                    <li><b>Violación Sexual:</b> Actos sexuales realizados sin el consentimiento de la víctima, incluyendo relaciones sexuales forzadas.</li>
                    <li><b>Acoso Sexual:</b>Conductas sexuales no deseadas que generan incomodidad o temor en la víctima.</li>
                    <li><b>Abuso Sexual:</b>Cualquier acto sexual sin el consentimiento de la víctima, incluyendo tocamientos inapropiados.</li>
                    <li><b>Exploración Sexual de Menores:</b>Actos sexuales con menores de edad, ya que la ley considera que los menores no tienen la capacidad legal para consentir.</li>
                    <li><b>Pornografía Infantil:</b>Producción, distribución o posesión de material pornográfico que involucre a menores de edad.</li>
                </ol>
                <p>Estos delitos están regulados en los artículos 205 a 222 del Código Penal Colombiano y otras normativas relacionadas.</p>
            </div>
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Es importante estar atento a ciertas señales para detectar posibles delitos sexuales: </p>
                <ol>
                    <li><b>Falta de Consentimiento:</b>Cualquier acto sexual que se haga sin un consentimiento claro y explícito. </li>
                    <li><b>Presión o Coacción:</b>Situaciones en las que alguien se siente forzado o manipulado para participar en actos sexuales.</li>
                    <li><b>Conductas Inapropiadas:</b>Comportamientos sexuales no deseados que causan incomodidad, como tocamientos o insinuaciones.</li>
                    <li><b>Situaciones de Vulnerabilidad:</b>Actos sexuales con personas que no tienen la capacidad legal para consentir, como menores o personas en situaciones vulnerables. </li>
                    <li><b>Amenazas:</b>Uso de amenazas o manipulación para obtener favores sexuales.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir los delitos sexuales, considera estas acciones: </p>
                <ol>
                    <li><b>Educación y Conciencia:</b>Enseñar desde una edad temprana sobre el consentimiento, el respeto y los derechos sexuales. </li>
                    <li><b>Empoderamiento:</b> Animar a las personas a decir "no" y a rechazar comportamientos sexuales no deseados. </li>
                    <li><b>Seguridad Personal:</b> Mantenerse en lugares seguros y evitar situaciones que puedan poner en riesgo la integridad sexual. </li>
                    <li><b>Comunicación:</b>Fomentar conversaciones abiertas sobre sexualidad y respeto en relaciones y lugares de trabajo.</li>
                    <li><b>Denuncia:</b>Informar a las autoridades si eres testigo o víctima de un delito sexual. Denunciar a tiempo puede ayudar a prevenir futuros delitos y a buscar justicia.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las penas por delitos sexuales en Colombia varían según la gravedad del delito. Algunas de las sanciones son: </p>
                <p><b>Violación Sexual: </b></p>
                <ul><li>Prisión de 12 a 20 años. Las penas pueden ser más severas si hay violencia extrema o si la víctima es menor de edad.</li></ul>
                <p><b>Acoso Sexual: </b></p>
                <ul><li>Prisión de 1 a 3 años. Las sanciones pueden ser mayores si ocurre en contextos laborales o educativos. </li></ul>
                <p><b>Abuso Sexual: </b></p>
                <ul><li>Prisión de 6 a 12 años. Las penas pueden aumentar si involucra a menores o si se comete con violencia. </li></ul>
                <p><b>Explotación Sexual de Menores: </b></p>
                <ul><li>Prisión de 12 a 20 años, dependiendo de la gravedad del abuso. </li></ul>
                <p><b>Pornografía Infantil:</b></p>
                <ul><li>Prisión de 8 a 16 años por la producción, distribución o posesión de este material. </li></ul>
                <p>Las penas pueden ser más duras si hay circunstancias agravantes, como violencia extrema o repetición del delito. Además, las víctimas pueden recibir asistencia y protección durante el proceso judicial.</p>
                <p>Es fundamental estar informado y denunciar cualquier acto que encaje con estas definiciones para asegurar justicia y prevenir futuras agresiones. </p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>Es importante que todos estemos informados sobre los delitos sexuales para poder prevenirlos y actuar en caso de necesidad. Si ves algo sospechoso o eres víctima de un delito sexual, no te quedes en silencio. Busca ayuda, denuncia y asegúrate de proteger tu bienestar y el de los demás. Conocer tus derechos y actuar puede hacer una gran diferencia.
                </p>
            </div>
        </div>
        <div class="content-2">
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Abigeato</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Amenazas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Delitos Sexuales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Extorcion</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio en Accidentes</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a automotores</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades comerciales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades financieras</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto motocicletas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a personas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a residencias</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Accidentales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Personales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Pirateria terrestre</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Secuestro</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Terrorismo</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Violencia Intrafamiliar</a>
            </div>
        </div>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


