<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HURTO A PERSONAS</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>DELITO</p>
        <p>HURTO A PERSONAS</p>
    </div>
    <div class="content">
        <div class="content-0">
            <div><img src="/Media/Abigeato/6D2MAQIYGBELZKTIKT37DMQN2A.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/Robo-de-Ganado-2-2.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/foto_robo_de_ganado.jpg" alt="" width="300px" height="300px"></div>
        </div>
        <div class="content-1">
            <img src="/Media/Abigeato/Robo-de-ganado.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>Que es?</h2>
                <p>En Colombia, el delito de hurto a personas se refiere al acto de tomar bienes ajenos sin consentimiento mediante la fuerza, intimidación o engaño, con la intención de apropiarse de ellos. Este tipo de hurto es comúnmente conocido como "robo" y puede ocurrir en la vía pública, en el transporte, o en lugares donde la víctima esté en situación de vulnerabilidad.</p>
                <p><b>Definición del Delito de Hurto a Personas</b></p>
                <p>El <b>hurto a personas</b> está tipificado en el <b>Código Penal Colombiano</b> y se refiere a diversas formas de apropiación indebida de bienes ajenos. Las principales formas de hurto a personas incluyen:</p>
                <ol>
                    <li><b>Hurto con Violencia:</b> Tomar bienes ajenos utilizando fuerza física o intimidación directa. Por ejemplo, asaltos donde se amenaza o se utiliza violencia contra la víctima.</li>
                    <li><b>Hurto sin Violencia:</b> Apoderarse de bienes ajenos sin recurrir a la violencia, pero a menudo usando engaños o artimañas para lograr el robo, como el <b>hurto mediante estafa</b> o <b>fraude</b></li>
                    <li><b>Hurto en el Transporte Público:</b> Robos que ocurren en buses, taxis, o cualquier otro medio de transporte público, aprovechando el hacinamiento o la falta de vigilancia.</li>
                    <li><b>Hurto en Espacios Públicos:</b> Robos que se llevan a cabo en calles, parques, plazas u otros espacios públicos donde las víctimas pueden ser sorprendidas o desatendidas.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para identificar un caso de hurto a personas, se deben considerar los siguientes aspectos:</p>
                <ol>
                    <li><b>Descripción del Incidente:</b> La víctima ha sido despojada de sus pertenencias mediante violencia, intimidación o engaño.</li>
                    <li><b>Evidencia de Violencia o Amenaza:</b> Puede haber signos de violencia física en la víctima o testimonios de amenazas durante el incidente.</li>
                    <li><b>Características del Robo:</b> Se identifican patrones comunes como el uso de armas, presencia de cómplices, o técnicas específicas de engaño.</li>
                    <li><b>Testimonios y Pruebas:</b> Recopilación de testimonios de la víctima, testigos, y cualquier evidencia física como videos de cámaras de seguridad.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir el hurto a personas y reducir su incidencia, se pueden adoptar las siguientes medidas:</p>
                <ol>
                    <li><b>Conciencia y Educación:</b> Informar a la comunidad sobre las tácticas comunes de los ladrones y cómo protegerse. Campañas de educación sobre seguridad personal pueden ser útiles.</li>
                    <li><b>Seguridad Personal:</b> Evitar mostrar objetos de valor en público y estar atento a los alrededores. Usar bolsos y mochilas de manera segura.</li>
                    <li><b>Precauciones en el Transporte Público:</b> Mantener objetos personales cerca y estar alerta en medios de transporte público, especialmente en horarios de alta afluencia.</li>
                    <li><b>Cuidado en Espacios Públicos:</b> Ser cauteloso en parques, plazas y otros espacios públicos donde el hurto puede ser más común.</li>
                    <li><b>Uso de Tecnología:</b> Utilizar aplicaciones y dispositivos de seguridad personal, como alertas en teléfonos móviles o rastreadores de objetos.</li>
                    <li><b>Reportar Actividades Sospechosas:</b> Informar a las autoridades sobre comportamientos sospechosos o incidentes que puedan indicar actividades delictivas.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones para el hurto a personas en Colombia están reguladas en el <b>Código Penal Colombiano</b>. Las penas pueden variar según la gravedad del delito y las circunstancias del caso:</p>
                <ol>
                    <li><p><b>Hurto Simple:</b></p>
                    <ul><li><b>Prisión:</b> Las penas para el hurto simple oscilan entre <b>4 y 8 años</b> de prisión. La pena específica depende de factores como la cantidad y el valor de los bienes robados.</li></ul>
                    </li>
                    <li><p><b>Hurto Agravado:</b></p>
                    <ul><li><b>Prisión:</b> El hurto agravado se castiga con penas que van de <b>8 a 16 años</b> de prisión. Las circunstancias que agravan el delito incluyen el uso de violencia o intimidación, la existencia de circunstancias de premeditación, el robo de bienes de alta valoración, o la afectación a personas en situaciones vulnerables.</li></ul>
                    </li>
                    <li><p><b>Hurto en Transporte Público:</b></p>
                    <ul><li><b>Prisión:</b> Si el hurto ocurre en el transporte público, las penas pueden ser más severas, dependiendo de la violencia utilizada y la gravedad del delito.</li></ul>
                    </li>
                    <li><p><b>Circunstancias Agravantes:</b></p>
                    <ul><li><b>Prisión Extendida:</b> En casos de reincidencia, asociación con grupos criminales, o el uso de armas durante el hurto, las penas pueden ser significativamente aumentadas.</li></ul>
                    </li>
                </ol>
                <p>La respuesta judicial y penal en casos de hurto busca no solo castigar al culpable, sino también disuadir a otros potenciales delincuentes y garantizar la seguridad pública. La cooperación con las autoridades y la implementación de medidas de seguridad personal son cruciales para prevenir y combatir el hurto a personas.</p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>Si sospechas que has sido víctima de abigeato, contacta inmediatamente a las autoridades locales, como la policía o la guardia rural. Proporciona toda la información relevante, incluyendo una lista detallada de los animales robados y cualquier evidencia que hayas encontrado.</p>
            </div>
        </div>
        <div class="content-2">
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Abigeato</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Amenazas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Delitos Sexuales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Extorcion</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio en Accidentes</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a automotores</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades comerciales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades financieras</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto motocicletas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a personas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a residencias</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Accidentales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Personales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Pirateria terrestre</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Secuestro</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Terrorismo</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Violencia Intrafamiliar</a>
            </div>
        </div>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


