<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HURTOS A ENTIDADES COMERCIALES</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>HURTOS A ENTIDADES COMERCIALES</p>
    </div>
    <div class="content">
        <div class="content-1">
            <img src="/Media/Hurto Entidades Comerciales/iStock-1084168456-2048x1366-1.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>¿Qué es?</h2>
                <p>En Colombia, el delito de <b>hurto a entidades comerciales</b> se refiere al robo o sustracción de bienes que ocurre en empresas, comercios, o cualquier establecimiento comercial. Este tipo de hurto afecta tanto a grandes corporaciones como a pequeños negocios y puede implicar el uso de violencia, engaño, o acceso sin autorización.</p>
                <p><b>Definición del Delito de Hurto a Entidades Comerciales</b></p>
                <p>El <b>hurto a entidades comerciales</b> está regulado en el <b>Código Penal Colombiano</b> y puede manifestarse de diversas maneras:</p>
                <ol>
                    <li><p><b>Hurto con Violencia:</b> Ingreso a la entidad comercial mediante el uso de violencia o intimidación, como el asalto a mano armada o el uso de amenazas para controlar a empleados o clientes.</p></li>
                    <li><p><b>Hurto sin Violencia:</b> Apropiación de bienes sin utilizar violencia, a menudo mediante técnicas como la manipulación de cerraduras, el uso de llaves falsas, o el aprovechamiento de la oportunidad cuando el comercio está desatendido.</p></li>
                    <li><p><b>Hurto Interno:</b> Robo perpetrado por empleados o personas con acceso a las instalaciones, que puede involucrar el uso de confianza para sustraer bienes de forma encubierta.</p></li>
                </ol>
            </div>
            <div><img src="/Media/Hurto Entidades Comerciales/san_martin_5100_robo.jpg" alt="" width="100%" height="500px"></div>
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para identificar un caso de hurto a entidades comerciales, se deben considerar los siguientes aspectos:</p>
                <ol>
                    <li><b>Evidencia de Acceso Forzado:</b> Daños en puertas, ventanas, cerraduras, o sistemas de seguridad que indican un ingreso no autorizado.</li>
                    <li><b>Sustracción de Bienes:</b> Falta de bienes, productos, o dinero que estaba presente antes del incidente.</li>
                    <li><b>Rastros de Violencia o Intimidación:</b> Señales de que el robo fue acompañado de violencia o amenazas, como la presencia de armas o la manipulación de empleados.</li>
                    <li><b>Testimonios y Reportes:</b> Declaraciones de empleados, clientes, y cualquier testigo que pueda proporcionar información sobre el robo.</li>
                </ol>
            </div>
            <div><img src="/Media/Hurto Entidades Comerciales/4f4e24741a404dfbbfa90d9c41c363d6.jpeg" alt="" width="100%" height="500px"></div>
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <ol>
                    <li><p><b>Refuerzo de Seguridad Física:</b></p>
                    <ul>
                        <li><p><b>Instalación de Sistemas de Seguridad:</b> Colocar alarmas, cámaras de vigilancia, y sistemas de control de acceso en puntos críticos.</p></li>
                        <li><p><b>Uso de Cerraduras de Alta Seguridad:</b> Implementar cerraduras robustas y mecanismos de cierre en puertas y ventanas.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Procedimientos de Seguridad Interna:</b></p>
                    <ul>
                        <li><p><b>Controles de Inventario:</b> Realizar controles regulares y auditorías del inventario para detectar y prevenir sustracciones.</p></li>
                        <li><p><b>Procedimientos de Manejo de Efectivo:</b> Implementar procedimientos estrictos para el manejo y almacenamiento de efectivo y otros bienes valiosos.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Capacitación del Personal:</b></p>
                    <ul>
                        <li><p><b>Entrenamiento en Seguridad:</b> Capacitar a los empleados sobre prácticas de seguridad, cómo identificar comportamientos sospechosos, y qué hacer en caso de un incidente de seguridad.</p></li>
                        <li><p><b>Políticas de Seguridad Interna:</b> Establecer y comunicar políticas claras sobre el acceso a áreas restringidas y la conducta esperada de los empleados.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Monitoreo y Vigilancia:</b></p>
                    <ul>
                        <li><p><b>Cámaras de Seguridad:</b> Utilizar cámaras de vigilancia en áreas clave, tanto internas como externas, para disuadir y documentar actividades delictivas.</p></li>
                        <li><p><b>Alarmas de Seguridad:</b> Asegurarse de que el sistema de alarmas esté operativo y sea revisado regularmente.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Seguridad en el Estacionamiento y Áreas Externas:</b></p>
                    <ul>
                        <li><p><b>Iluminación Adecuada:</b> Mantener bien iluminadas las áreas externas, incluyendo estacionamientos y entradas.</p></li>
                        <li><p><b>Vigilancia Externa:</b> Considerar la contratación de personal de seguridad o patrullas en áreas de alto riesgo.</p></li>
                    </ul>
                    </li>
                </ol>
            </div>
            <div><img src="/Media/Hurto Entidades Comerciales/WhatsApp-Image-2019-02-06-at-08.54.05-e1550155888373.jpeg" alt="" width="100%" height="500px"></div>
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones para el hurto a entidades comerciales en Colombia están reguladas en el <b>Código Penal Colombiano</b> y varían según la gravedad del delito y las circunstancias específicas. Las penas incluyen:</p>
                <ol>
                    <li><p><b>Hurto Simple a Entidades Comerciales:</b></p>
                        <ul>
                            <li><p><b>Prisión:</b> Las penas para el hurto simple a entidades comerciales oscilan entre <b>4 y 8 años</b> de prisión. La pena puede depender del valor de los bienes robados y si se utilizó violencia o engaño.</p></li>
                        </ul>
                    </li>
                    <li><p><b>Hurto Agravado a Entidades Comerciales:</b></p>
                        <ul>
                            <li><p><b>Prisión:</b> El hurto agravado se castiga con penas que van de <b>8 a 16 años</b> de prisión. Las circunstancias que agravan el delito incluyen el uso de violencia, la participación de bandas criminales, o el robo de bienes de gran valor.</p></li>
                        </ul>
                    </li>
                    <li><p><b>Circunstancias Agravantes:</b></p>
                        <ul>
                            <li><p><b>Prisión Extendida:</b> En casos de reincidencia o robo organizado, las penas pueden ser más severas. Además, si el hurto es perpetrado por empleados con acceso a la entidad, la pena puede ser incrementada.</p></li>
                        </ul>
                    </li>
                    <li><p><b>Sanciones Adicionales:</b></p>
                        <ul>
                            <li><p><b>Indemnización:</b> El condenado puede ser obligado a indemnizar a la entidad comercial por los bienes robados y cualquier daño causado durante el hurto.</p></li>
                        </ul>
                    </li>
                </ol> 
                <p>La legislación y las sanciones para el hurto a entidades comerciales buscan proteger la propiedad empresarial y disuadir a los delincuentes. La implementación de medidas preventivas y la colaboración con las autoridades son cruciales para reducir la incidencia de estos delitos y mantener la seguridad en el entorno comercial.</p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>Si sospechas que has sido víctima de abigeato, contacta inmediatamente a las autoridades locales, como la policía o la guardia rural. Proporciona toda la información relevante, incluyendo una lista detallada de los animales robados y cualquier evidencia que hayas encontrado.</p>
            </div>
        </div>
        <custom-content></custom-content>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


