<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LESIONES EN ACCIDENTES DE TRÁNSITO</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>DELITO</p>
        <p>LESIONES EN ACCIDENTES DE TRÁNSITO</p>
    </div>
    <div class="content">
        <div class="content-0">
            <div><img src="/Media/Abigeato/6D2MAQIYGBELZKTIKT37DMQN2A.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/Robo-de-Ganado-2-2.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/foto_robo_de_ganado.jpg" alt="" width="300px" height="300px"></div>
        </div>
        <div class="content-1">
            <img src="/Media/Abigeato/Robo-de-ganado.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>Que es?</h2>
                <p>En Colombia, cuando hablamos de <b>lesiones en accidentes de tránsito</b> nos referimos a las heridas que una persona puede sufrir tras un choque o accidente vehicular. Estas pueden ser desde golpes menores hasta lesiones graves que cambian la vida de alguien. No solo afecta a los conductores, también a los peatones, ciclistas y pasajeros involucrados. </p>
                <p><b>Clasificación de las Lesiones en Accidentes de Tránsito</b></p>
                <p>El Código Penal Colombiano define las lesiones según su gravedad: </p>
                <ol>
                    <li><p><b>Lesiones Leves:</b> Son aquellas que no ponen en riesgo la vida y requieren atención médica mínima. </p></li>
                    <li><p><b>Lesiones Graves:</b> Son más serias, pueden afectar la movilidad o causar incapacidades temporales, y necesitan tratamiento médico complejo. </p></li>
                    <li><p><b>Lesiones Gravísimas:</b> Son las que ponen en peligro la vida o dejan secuelas permanentes, como discapacidades graves.</p></li>
                </ol>
            </div>
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para saber si estamos frente a un caso de lesiones por accidente de tránsito, se deben considerar varios elementos: </p>
                <ol>
                    <li><p><b>Informe médico:</b> Este documento describe las heridas sufridas y ayuda a clasificarlas. </p></li>
                    <li><p><b>Reporte del accidente:</b> Elaborado por las autoridades de tránsito, detalla el lugar, circunstancias y vehículos involucrados. </p></li>
                    <li><p><b>Testigos y evidencias:</b> Declaraciones de personas que vieron el accidente, fotos, videos de cámaras de seguridad y declaraciones de los involucrados. </p></li>
                    <li><p><b>Causas del accidente:</b> Es fundamental determinar si el accidente ocurrió por negligencia, exceso de velocidad, consumo de alcohol, entre otros factores.</p></li>
                </ol>
            </div>
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>La mejor manera de evitar lesiones en accidentes de tránsito es siendo cuidadosos y conscientes en las vías. Aquí algunas recomendaciones:</p>
                <ol>
                    <li><p><b>Educación vial:</b></p>
                    <ul>
                        <li><p>Participar en campañas que enseñen las normas de tránsito y promuevan una conducción responsable.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Manejo defensivo: </b></p>
                    <ul>
                        <li><p>Aprender técnicas para reducir los riesgos mientras se conduce.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Respetar las normas de tránsito: </b></p>
                    <ul>
                        <li><p>Cómo respetar los límites de velocidad y siempre usar el cinturón de seguridad o el casco, según corresponda. </p></li>
                    </ul>
                    </li>
                    <li><p><b>Mantenimiento del vehículo: </b></p>
                    <ul>
                        <li><p>Realizar chequeos periódicos del estado del vehículo para asegurarse de que funcione bien. </p></li>
                    </ul>
                    </li>
                    <li><p><b>Conducción responsable:</b></p>
                    <ul>
                        <li><p>Nunca manejar bajo el efecto de alcohol o drogas y evitar distracciones, como el uso del celular mientras se maneja.</p></li>
                    </ul>
                    </li>
                </ol>
            </div>
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las penas por causar lesiones en accidentes de tránsito dependen de la gravedad de las heridas y del comportamiento del responsable:</p>
                <ol>
                    <li><p><b>Lesiones leves: </b></p>
                    <ul>
                        <li><p><b>Prisión de 6 a 18 meses.</b> La pena aumenta si hubo negligencia o imprudencia.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Lesiones graves: </b></p>
                    <ul>
                        <li><p><b>Prisión de 1 a 4 años,</b> especialmente si la conducta fue irresponsable.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Lesiones gravísimas: </b></p>
                    <ul>
                        <li><p><b>Prisión de 4 a 8 años,</b> y puede ser más severa si el conductor estaba bajo el efecto de alcohol o drogas.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Circunstancias agravantes: </b></p>
                    <ul>
                        <li><p>En casos de reincidencia o de comportamiento extremadamente peligroso, las penas pueden aumentar y se puede suspender el <b>derecho a conducir.</b></p></li>
                    </ul>
                    </li>
                    <li><p><b>Indemnización: </b></p>
                    <ul>
                        <li><p>El responsable deberá compensar a las <b>víctimas</b> por los daños sufridos, incluidos gastos médicos y pérdidas económicas.</p></li>
                    </ul>
                    </li>
                </ol>
                <p>Estas leyes buscan no sólo castigar, sino también promover la seguridad en las vías, protegiendo a las víctimas y previniendo accidentes a través de la educación y el cumplimiento de las normas de tránsito.</p>
            
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>¡Actúa ahora! Si has sufrido una lesión en un accidente de tránsito, busca la ayuda legal que necesitas para asegurar tu compensación y recuperación. Tu bienestar es la prioridad. ¡No esperes más, toma el control de tu situación hoy mismo!</p>
            </div>
        </div>
        <div class="content-2">
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Abigeato</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Amenazas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Delitos Sexuales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Extorcion</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio en Accidentes</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a automotores</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades comerciales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades financieras</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto motocicletas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a personas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a residencias</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Accidentales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Personales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Pirateria terrestre</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Secuestro</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Terrorismo</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Violencia Intrafamiliar</a>
            </div>
        </div>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


