<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LESIONES PERSONALES</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>DELITO</p>
        <p>LESIONES PERSONALES</p>
    </div>
    <div class="content">
        <div class="content-0">
            <div><img src="/Media/Abigeato/6D2MAQIYGBELZKTIKT37DMQN2A.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/Robo-de-Ganado-2-2.jpg" alt="" width="300px" height="300px"></div>
            <div><img src="/Media/Abigeato/foto_robo_de_ganado.jpg" alt="" width="300px" height="300px"></div>
        </div>
        <div class="content-1">
            <img src="/Media/Abigeato/Robo-de-ganado.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>Que es?</h2>
                <p>En <b>Colombia</b>, cuando hablamos de <b>lesiones personales</b> nos referimos a cualquier daño físico o emocional que alguien le cause a otra persona, ya sea de forma intencional o por descuido. Este delito puede ir desde heridas leves hasta daños graves que afecten permanentemente a la víctima, y puede incluir tanto agresiones físicas como psicológicas.</p>
                <p><b>Tipos de Lesiones Personales  </b></p>
                <p>El Código Penal Colombiano clasifica las lesiones personales de acuerdo con su gravedad:</p>
                <ol>
                    <li><b>Lesiones Leves:</b> Son aquellas que no ponen en riesgo la vida ni la salud de la persona y que solo requieren una atención médica sencilla.</li>
                    <li><b>Lesiones Graves:</b> Son más serias, afectan la salud de la víctima y pueden provocar una discapacidad temporal, requiriendo tratamiento médico más complejo.</li>
                    <li><b>Lesiones Gravísimas:</b> Son las que ponen en peligro la vida de la persona o causan un daño permanente, como una discapacidad severa e irreversible.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para saber si estamos ante un caso de lesiones personales, es importante tener en cuenta varios factores:</p>
                <ol>
                    <li><b>Informe médico:</b> Este documento es clave para conocer la gravedad de las heridas y determinar las sanciones correspondientes.</li>
                    <li><b>Evidencia de agresión:</b> Marcas visibles como moretones, fracturas o heridas que demuestran que la persona fue agredida.</li>
                    <li><b>Testimonios:</b> Declaraciones de la víctima y de quienes presenciaron el incidente para entender mejor qué ocurrió.</li>
                    <li><b>Contexto del incidente:</b> Es fundamental saber si la lesión fue intencional, accidental o imprudente, y también conocer el entorno en el que sucedió, ya sea en el hogar, en la calle, o durante una pelea.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir las lesiones personales y fomentar la seguridad, se pueden adoptar algunas medidas:</p>
                <ol>
                    <li><p><b>Educación y sensibilización: </b></p>
                    <ul>
                        <li><p>Promover campañas que eduquen sobre la violencia y sus consecuencias, enseñando a resolver los problemas de manera pacífica.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Programas de resolución de conflictos:</b></p>
                    <ul>
                        <li><p>Fomentar la enseñanza de habilidades para manejar disputas sin recurrir a la violencia.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Apoyo psicológico: </b></p>
                    <ul>
                        <li><p>Ofrecer ayuda psicológica a quienes puedan estar en riesgo de cometer agresiones o ya hayan mostrado comportamientos violentos.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Prevención de violencia doméstica: </b></p>
                    <ul>
                        <li><p>Crear programas que prevengan la violencia en el hogar y brinden apoyo a las familias, protegiendo a las víctimas con órdenes de restricción o refugios temporales.</p></li>
                    </ul>
                    </li>
                    <li><p><b>Seguridad pública: </b></p>
                    <ul>
                        <li><p>Incrementar la vigilancia en zonas de riesgo, mejorar la iluminación en áreas públicas y garantizar la presencia policial para disuadir la violencia.</p></li>
                    </ul>
                    </li>
                </ol>
            </div>
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones para el delito de lesiones personales están reguladas en el Código Penal Colombiano y varían según la gravedad de las lesiones y las circunstancias del delito. Las penas incluyen:</p>
                <ol>
                    <li><p><b>Lesiones Leves:</b></p>
                        <ul>
                            <li><b>Prisión:</b> Las penas por lesiones leves suelen ser de <b>1 a 3 años</b> de prisión. La pena puede aumentar si la lesión se causó de manera imprudente o si el agresor tiene antecedentes.</li>
                        </ul>
                    </li>
                    <li><p><b>Lesiones Graves:</b></p>
                        <ul>
                            <li><b>Prisión:</b> Las penas para lesiones graves varían de <b>2 a 6 años</b> de prisión. Las penas pueden incrementarse si se demuestra que el agresor actuó con dolo, es decir, con intención de causar daño.</li>
                        </ul>
                    </li>
                    <li><p><b>Lesiones Gravísimas:</b></p>
                        <ul>
                            <li><b>Prisión:</b> Las penas por lesiones gravísimas pueden oscilar entre <b>6 a 12 años</b> de prisión. Las penas pueden ser mayores si la lesión resulta en una discapacidad permanente o si se empleó violencia extrema.</li>
                        </ul>
                    </li>
                    <li><p><b>Circunstancias Agravantes:</b></p>
                        <ul>
                            <li><b>Prisión Extendida:</b> En casos de reincidencia, violencia extrema, o cuando las lesiones se causan en el contexto de delitos agravados como la violencia de género, las penas pueden ser más severas.</li>
                        </ul>
                    </li>
                    <li><p><b>Indemnización:</b></p>
                        <ul>
                            <li><b>Compensación a la Víctima:</b> El condenado puede ser obligado a indemnizar a la víctima por los daños y perjuicios sufridos, incluyendo gastos médicos, dolor y sufrimiento, y pérdida de ingresos.</li>
                        </ul>
                    </li>
                </ol>
                <p>El sistema legal y las sanciones para las lesiones personales en Colombia buscan proteger a las víctimas y disuadir a los agresores. La implementación de medidas preventivas, la promoción de la resolución pacífica de conflictos, y el apoyo a las víctimas son esenciales para reducir la incidencia de estos delitos y mejorar la seguridad y el bienestar de la comunidad.</p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>¡Recupera tu bienestar y asegura tu futuro! Si has sido víctima de un accidente o lesión, actúa ahora para proteger tus derechos y obtener la compensación que mereces. No esperes más: busca asesoría legal de expertos en lesiones personales para que tu caso sea atendido con la seriedad que requiere. ¡Tu salud y justicia están a un paso de distancia!</p>
            </div>
        </div>
        <div class="content-2">
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Abigeato</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Amenazas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Delitos Sexuales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Extorcion</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio en Accidentes</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Homicidio</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a automotores</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades comerciales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a entidades financieras</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto motocicletas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a personas</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Hurto a residencias</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Accidentales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Lesiones Personales</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Pirateria terrestre</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Secuestro</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Terrorismo</a>
            </div>
            <div>
                <a href=""><img src="/Media/iloveimg-converted/t (28).jpg" alt="">Violencia Intrafamiliar</a>
            </div>
        </div>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


