<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIRATERÍA TERRESTRE</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>PIRATERÍA TERRESTRE</p>
    </div>
    <div class="content">
        <div class="content-1">
            <img src="/Media/Pirateria Terrestre/fotos_seguimiento_2_12.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>¿Qué es?</h2>
                <p>
                    En Colombia, el delito de <b>piratería terrestre</b> se refiere a la acción de asaltar y robar vehículos en tránsito, particularmente en carreteras, caminos, o zonas de acceso público. Este tipo de delito implica la utilización de violencia o amenazas para apoderarse de bienes que se encuentran en vehículos, y puede tener un impacto significativo en la seguridad vial y la confianza en el transporte.  
                </p>
                <br>
                <p><b>Definición del Delito de Piratería Terrestre</b></p>
                <p>El <b>delito de piratería terrestre</b> se enmarca dentro de los delitos relacionados con el robo y 
                la violencia en vías públicas. Está regulado en el <b>Código Penal Colombiano</b> y puede incluir:</p>
                <ol>
                    <li><b>Asalto a Vehículos: </b>Ataques a vehículos en movimiento o estacionados, donde los delincuentes utilizan armas o violencia para obligar a los ocupantes a entregar sus pertenencias o para robar el vehículo mismo.</li>
                    <li><b>Robos de Carga: </b>Sustracción de mercancías o bienes que se transportan en vehículos comerciales, usando métodos similares a los descritos para los asaltos a vehículos particulares.</li>
                    <li><b>Secuestro y Extorsión: </b>En algunos casos, los delincuentes pueden secuestrar a los ocupantes del vehículo para extorsionar a familiares o empresas a cambio de su liberación.</li>
                </ol>
            </div>
            <img src="/Media/Pirateria Terrestre/recuperada-tractomula-con-madera-hurtada-en-copacabana-antioquia.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para identificar un caso de piratería terrestre, se deben considerar los siguientes factores:</p>
                <ol>
                    <li><b>Evidencia de Asalto:</b>
                    <ul>
                        <li><b>Marcas de Violencia:</b> Daños en el vehículo, como vidrios rotos, cerraduras forzadas, o signos de lucha.</li>
                        <li><b>Testimonios de Víctimas:</b> Declaraciones de las personas que fueron asaltadas, que pueden proporcionar detalles sobre el ataque y la descripción de los delincuentes.</li>
                    </ul>
                    </li>
                    <li><b>Registro del Incidente:</b>
                    <ul>
                        <li><b>Reporte Policial:</b> Informe elaborado por las autoridades después del incidente, que incluye detalles sobre el lugar, el momento, y las circunstancias del asalto.</li>
                        <li><b>Evidencia Fotográfica:</b> Imágenes del lugar del crimen y del vehículo afectado, que ayudan a documentar el asalto y a identificar posibles pruebas.</li>
                    </ul>
                    </li>
                    <li><b>Seguimiento de la Investigación:</b>
                    <ul>
                        <li><b>Investigación Criminal:</b> Recopilación de evidencia por parte de las autoridades, como huellas, ADN, o cualquier otro indicio que pueda ayudar a identificar y capturar a los delincuentes.</li>
                    </ul>
                    </li>
                </ol>
            </div>
            <img src="/Media/Pirateria Terrestre/SRQBBKDXXNF3NG35FMUIGGCIJU.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir la piratería terrestre y mejorar la seguridad en las vías, se pueden implementar las siguientes medidas:</p>
                <ol>
                    <li><b>Seguridad en el Transporte:</b>
                    <ul>
                        <li><b>Dispositivos de Seguridad:</b> Instalar sistemas de rastreo y alarma en vehículos, tanto particulares como comerciales, para facilitar la recuperación en caso de robo.</li>
                        <li><b>Capacitación del Personal:</b> Entrenar a los conductores y personal de seguridad en técnicas para evitar y reaccionar ante asaltos en carretera.</li>
                    </ul>
                    </li>
                    <li><b>Vigilancia y Control:</b>
                    <ul>
                        <li><b>Patrullajes en Zonas Críticas:</b> Aumentar la presencia policial y la vigilancia en áreas conocidas por ser puntos críticos de piratería terrestre.</li>
                        <li><b>Controles de Tránsito:</b> Realizar controles periódicos en rutas de alto riesgo para disuadir a los delincuentes y detectar vehículos sospechosos.</li>
                    </ul>
                    </li>
                    <li><b>Educación y Conciencia:</b>
                    <ul>
                        <li><b>Campañas de Información:</b> Informar a la comunidad sobre los riesgos de piratería terrestre y las medidas que pueden tomar para protegerse, como evitar estacionar en zonas aisladas.</li>
                        <li><b>Protocolos de Seguridad:</b> Promover protocolos de seguridad entre los conductores, como evitar parar en lugares peligrosos y mantener contacto regular con las autoridades en caso de emergencia.</li>
                    </ul>
                    </li>
                    <li><b>Colaboración Comunitaria:</b>
                    <ul>
                        <li><b>Reportar Actividades Sospechosas:</b> Fomentar la cooperación de la comunidad para reportar actividades sospechosas y colaborar con las autoridades en la identificación de delincuentes.</li>
                        <li><b>Redes de Seguridad Vecinal:</b> Crear redes de vigilancia y apoyo entre los conductores y las comunidades para mejorar la seguridad en las carreteras.</li>
                    </ul>
                    </li>
                </ol>
            </div>
            <img src="/Media/Pirateria Terrestre/seguimiento_-_2024-06-01t172158.507.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones para la piratería terrestre están reguladas en el Código Penal Colombiano y pueden variar dependiendo de la gravedad del delito y las circunstancias específicas. Las penas incluyen:</p>
                <ol>
                    <li><b>Robo Simple:</b>
                    <ul>
                        <li><b>Prisión:</b> Las penas para el robo simple en un asalto a vehículos pueden ser de <b>4 a 8 años</b> de prisión. La pena puede aumentar si se utiliza violencia o se pone en riesgo la vida de las personas.</li>
                    </ul>
                    </li>
                    <li><b>Robo Agravado:</b>
                    <ul>
                        <li><b>Prisión:</b> Las penas para el robo agravado, que incluye el uso de armas, violencia extrema, o la participación de grupos organizados, pueden oscilar entre <b>8 a 16 años</b> de prisión. Las penas pueden ser más severas si se demuestra que el robo fue premeditado o si se causaron daños graves.</li>
                    </ul>
                    </li>
                    <li><b>Secuestro y Extorsión:</b>
                    <ul>
                        <li><b>Prisión:</b> En casos donde el asalto incluye secuestro o extorsión, las penas pueden variar ampliamente, dependiendo de la duración del secuestro, la violencia utilizada, y el monto de la extorsión. Las penas pueden ser de <b>15 a 30 años</b> de prisión en casos graves.</li>
                    </ul>
                    </li>
                    <li><b>Circunstancias Agravantes:</b>
                    <ul>
                        <li><b>Prisión Extendida:</b> En casos de reincidencia, actos de violencia extrema, o participación en bandas criminales, las penas pueden ser más severas. Además, puede haber sanciones adicionales como la inhabilitación para ejercer ciertos derechos o actividades.</li>
                    </ul>
                    </li>
                    <li><b>Indemnización:</b>
                    <ul>
                        <li><b>Compensación a las Víctimas:</b> Los condenados pueden ser obligados a indemnizar a las víctimas por los daños y perjuicios sufridos, incluyendo la reparación de vehículos dañados y la compensación por pérdidas económicas.</li>
                    </ul>
                    </li>
                </ol>
                <p>La legislación y las sanciones para la piratería terrestre en Colombia buscan proteger a los ciudadanos y mejorar la seguridad en las vías de transporte. La implementación de medidas preventivas, la colaboración con las autoridades, y el apoyo a las víctimas son fundamentales para reducir la incidencia de estos delitos y garantizar un entorno más seguro para los transportistas y los viajeros.</p>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>Si sospechas que has sido víctima de abigeato, contacta inmediatamente a las autoridades locales, como la policía o la guardia rural. Proporciona toda la información relevante, incluyendo una lista detallada de los animales robados y cualquier evidencia que hayas encontrado.</p>
            </div>
        </div>
        <custom-content></custom-content>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


