<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECUESTRO</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>SECUESTRO</p>
    </div>
    <div class="content">
        <div class="content-1">
            <img src="/Media/Secuestro/EFTMLS2I7JBRNJULJM4MGMGHWE.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>¿Qué es?</h2>
                <p>
                    El secuestro es el acto de privar a una persona de su libertad de manera ilegal y arbitraria, 
                    generalmente con fines extorsivos o para obtener algún tipo de beneficio, como dinero, bienes, 
                    o en algunos casos, para presionar a las autoridades o a terceros. Según el <b>Código Penal Colombiano</b>, 
                    el secuestro se define como:  
                </p>
                <ol>
                    <li><b>Secuestro simple: </b>La privación ilegal de la libertad de una persona sin que se produzcan agravantes específicas.</li>
                    <li><b>Secuestro extorsivo: </b>Cuando la privación de la libertad se realiza con el objetivo de obtener un rescate o alguna otra ganancia económica o material.</li>
                </ol>
            </div>
            <img src="/Media/Secuestro/Secuestro1.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Para identificar un caso de secuestro, se deben considerar los siguientes aspectos:</p>
                <ol>
                    <li><b>Privación de Libertad: </b>La víctima es retenida en contra de su voluntad, sin posibilidad de moverse libremente.</li>
                    <li><b>Condiciones de Detención: </b>La persona secuestrada generalmente es mantenida en un lugar secreto o aislado.</li>
                    <li><b>Demandas o Extorsiones: </b>Los secuestradores suelen hacer demandas a los familiares, la empresa o las autoridades para obtener un rescate o cumplir con otras exigencias.</li>
                    <li><b>Comunicación con los secuestradores: </b>Normalmente, hay algún tipo de comunicación entre los secuestradores y los familiares o las autoridades para negociar las demandas.</li>
                </ol>
            </div>
            <img src="/Media/Secuestro/descarga (1).jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>Para prevenir el secuestro, se pueden tomar varias medidas de prevención:</p>
                <ol>
                    <li><b>Seguridad Personal: </b>Mantener un perfil bajo en redes sociales, evitar compartir información personal y estar atento a las medidas de seguridad en lugares públicos.</li>
                    <li><b>Seguridad en el Hogar: </b>Asegurar la residencia con cerraduras de alta seguridad, cámaras de vigilancia y sistemas de alarma.</li>
                    <li><b>Educación y Conciencia: </b>Informar a las personas sobre los riesgos y medidas de seguridad, así como capacitar al personal de seguridad en empresas y organizaciones.</li>
                    <li><b>Procedimientos de Seguridad: </b>Implementar procedimientos de seguridad en el trabajo y durante los desplazamientos, especialmente en áreas de alto riesgo.</li>
                </ol>
            </div>
            <img src="/Media/Secuestro/sec.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las sanciones por el delito de secuestro en Colombia están establecidas en el Código Penal. Las penas varían dependiendo de la gravedad del secuestro y sus circunstancias:</p>
                <ol>
                    <li><b>Secuestro Simple: </b>La pena puede oscilar entre 16 y 24 años de prisión. Esta pena puede variar si se consideran atenuantes o agravantes.</li>
                    <li><b>Secuestro Extorsivo: </b>La pena es generalmente más severa y puede ir de 24 a 40 años de prisión, dependiendo de las circunstancias y si se utilizaron formas particularmente crueles o si se causaron daños graves a la víctima.</li>
                    <li><b>Agravantes: </b>El secuestro puede ser agravado si se comete con violencia, se trata de un menor de edad, o se realiza en contexto de crimen organizado, entre otros factores.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>Es importante que las autoridades y los ciudadanos trabajen juntos para prevenir y abordar este delito. Si tienes conocimiento de un secuestro o de actividades sospechosas que encajen con este delito, debes comunicarte y dar el reporte con las autoridades de inmediato.</p>
            </div>
        </div>
        <custom-content></custom-content>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


