<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERRORISMO</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <link rel="stylesheet" href="/Css/content_D.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

<main>
    <div class="Titulo-content">
        <p>TERRORISMO</p>
    </div>
    <div class="content">
        <div class="content-1">
            <img src="/Media/Terrorismo/manifestacion_por_el_aniversario_del_asesinato_de_un_adolescente_por_parte_de_la_policia6032012_adb63b0e.jpg" alt="" width="100%" height="500px">
            
            <div class="caja">
                <h2>¿Qué es?</h2>
                <p>
                    En Colombia, el terrorismo se define como cualquier acto violento diseñado para causar terror, 
                    miedo o pánico en la población. También busca imponer una ideología o presionar a las autoridades. 
                    Según el Artículo 345 del Código Penal Colombiano:  
                </p>
                <br>
                <p>
                    El terrorismo incluye actos de violencia o intimidación que alteran gravemente el orden público, 
                    atacan la vida, la integridad o la seguridad de las personas, y buscan sembrar pánico en la sociedad. 
                    Estos actos pueden involucrar explosivos, armas de fuego u otros medios violentos.
                </p>
            </div>
            <img src="/Media/Terrorismo/ETPWDRFGIBE7TOB5BIT2DZSTXM.jpeg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>¿Cómo identificarlo?</h2>
                <p>Reconocer un acto de terrorismo es crucial para poder actuar rápidamente. Aquí te indicamos algunos aspectos clave:</p>
                <ol>
                    <li><b>Actos Violentos: </b>Se trata de actos que buscan generar terror o pánico en la población, como explosiones o ataques armados.</li>
                    <li><b>Objetivo Político o Ideológico: </b>La motivación detrás del acto suele estar relacionada con la imposición de una ideología, presión política o la creación de caos social.</li>
                    <li><b>Medios Utilizados: </b> Los actos terroristas a menudo emplean explosivos, armas, atentados suicidas, o cualquier método que cause un alto grado de daño y destrucción.</li>
                    <li><b>Impacto en la Comunidad: </b>Estos actos generan un gran impacto en la comunidad, provocando miedo y desestabilización.</li>
                </ol>
            </div>
            <img src="/Media/Terrorismo/JMKJPMVKKNHMVPPM2KP4RQCA7U.jpg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Medidas preventivas</h2>
                <p>
                    Para protegernos y reducir el riesgo de terrorismo, podemos tomar las siguientes medidas:
                </p>
                <ol>
                    <li><b>Fortalecimiento de la Seguridad: </b>Mejorar los controles de seguridad en lugares públicos, infraestructuras críticas y eventos masivos. </li>
                    <li><b>Inteligencia y Vigilancia: </b>Desarrollar capacidades para detectar y desarticular posibles grupos o individuos que planeen actos terroristas.</li>
                    <li><b>Educación y Capacitación: </b>Capacitar a las fuerzas de seguridad, al personal de empresas y a los ciudadanos sobre prevención, identificación de amenazas y respuesta a incidentes.</li>
                    <li><b>Cooperación Internacional: </b>Colaborar con otros países y organizaciones internacionales para compartir información y estrategias contra el terrorismo.</li>
                    <li><b>Legislación y Política: </b>Mantener las leyes actualizadas y efectivas para enfrentar el terrorismo, y asegurar que las políticas de seguridad sean claras y adecuadas.</li>
                </ol>
            </div>
            <img src="/Media/Terrorismo/6676c86b9e3de.r_d.628-78-0.jpeg" alt="" width="100%" height="500px">
            <div class="caja">
                <h2>Sanciones</h2>
                <p>Las penas por terrorismo en Colombia están establecidas en el Código Penal y pueden variar según la gravedad del acto:</p>
                <ol>
                    <li><b>Terrorismo: </b>La pena puede ser de 24 a 40 años de prisión. Esta pena puede aumentar si el acto causa muchas víctimas o tiene un gran impacto en la comunidad.</li>
                    <li><b>Delitos Conexos: </b>Además de la pena principal, los condenados por terrorismo pueden enfrentar sanciones adicionales por delitos relacionados, como homicidio, lesiones o daños a la propiedad.</li>
                    <li><b>Circunstancias Agravantes: </b>Las penas pueden ser mayores si se utilizan métodos especialmente destructivos, si se pertenece a una organización terrorista, o si los actos ocurren en contextos de guerra o conflicto.</li>
                </ol>
            </div>
            <div class="caja">
                <h2>Call to action.</h2>
                <p>La lucha contra el terrorismo requiere una colaboración efectiva entre autoridades y ciudadanos. Es fundamental estar informados, atentos y dispuestos a cooperar para proteger nuestra seguridad y bienestar. Si tienes información sobre actividades sospechosas o actos de terrorismo, comunícate con las autoridades locales de inmediato. Juntos podemos hacer una gran diferencia.</p>
            </div>
        </div>
        <custom-content></custom-content>
    </div>
</main>

    <footer>
        <custom-footer></custom-footer>
    </footer>

    <script src="/js/model.js"></script>
</body>
</html>


