<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Procedimiento</title>
    <link rel="stylesheet" href="/Css/styles.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>

    <main>
        
        <div class="content">
            <div>
                <h2></h2>
            </div>
            <div class="content-1">
                <div class="caja">
                    <h3>1. Recopilación de data: </h3>
                    <p>Los datos relacionados con las estadísticas de los 18 delitos judiciales fueron obtenidos de la página web de estadística delictiva de la Policía Nacional: <a href="https://www.policia.gov.co/estadistica-delictiva?page=1">https://www.policia.gov.co/estadistica-delictiva?page=1</a></p>
                    <p>La data fue descargada en formato Excel por cada año, desde el año 2018 hasta el año 2024 (lectivo)</p>
                </div>
                <div class="caja">
                    <h3>2. Preprocesamiento de Datos</h3>
                    <p>Se procedió a la revisión y limpieza de datos, corrección de errores de transcripción y eliminación de duplicados, tomando como base el N° indicativo de la denuncia efectuada, en pro del aseguramiento de la calidad y consistencia de la información, para su posterior normalización y estandarización de categorías de datos, en formato uniforme, de tal forma que facilitara su análisis.</p>
                </div>
                <div class="caja">
                    <h3>3. Almacenamiento de Datos</h3>
                    <p>Se empleó una base de datos segura y escalable para almacenar la información de manera estructurada, bajo el cumplimiento de las políticas de tratamiento de datos establecida en la Ley 1581 del 2012.</p>
                </div>
                <div class="caja">
                    <h3>4. Análisis de Datos</h3>
                    <p>Se efectuaron análisis exploratorios para la identificación de patrones, tendencias y anomalías en los datos obtenidos. Se propuso un modelo basado en técnicas estadísticas descriptivas y machine learning para la creación de modelos predictivos y clasificatorios, que pudiesen ayudar en la previsión de tendencias delictivas.</p>
                    <p>Se desarrollaron gráficos mediante la herramienta de análisis de datos R Studio y Microsoft Excel®, obteniendo recursos gráficos de forma clara y comprensible para todo público.</p>
                    <p>Adicionalmente, se desarrollaron informes con mayor análisis estadístico y sus respectivos gráficos mediante la herramienta R Markdown.</p>
                </div>
                <div class="caja">
                    <h3>5. Desarrollo y Mantenimiento del Portal Web</h3>
                    <p>Se desarrolló una interfaz de usuario intuitiva y accesible, asegurando su compatibilidad con diferentes dispositivos y navegadores, manteniendo el portal actualizado con la información más reciente y relevante, así como la actualización del software para garantizar el buen funcionamiento.</p>
                </div>
                <div class="caja">
                    <h3>6. Acceso y Gestión de Usuarios</h3>
                    <p>Se creó un control de acceso para diferentes usuarios, de tal manera que puedan acceder a informes y visualizar los datos y análisis detallados, los cuales fueron generados por la herramienta R Markdown.</p>
                    <p>El acceso es libre y sin costo alguno, hasta la fecha.</p>
                </div>
                <div class="caja">
                    <h3>7. Contacto con el usuario y retroalimentación.</h3>
                    <p>Se establecieron mecanismos para compartir y recibir retroalimentación por parte de los diferentes visitantes y usuarios, empleando formularios de contacto y preguntas frecuentes, con el fin de mejorar continuamente el portal y sus funcionalidades.</p>
                </div>
                <div class="caja">
                    <h3>8. Cumplimiento Legal y Ético</h3>
                    <p>En cada paso del proyecto se mantuvo la preservación de las políticas establecidas a través de la Ley 1581 del 2012, para la protección y tratamiento de datos.</p>
                </div>
                <div class="caja">
                    <h3>9. Comunicación y Colaboración</h3>
                    <p>En cada uno de los diferentes delitos analizados y procesados, se informa al usuario las diferentes líneas de acceso a las autoridades, en aras de promover una política de información y denuncia inmediata y constante, en caso tal de ser víctima de alguno de los 18 delitos vistos en este portal web y medidas preventivas para prever si puede estar siendo víctima de alguno de ellos.</p>
                    <p>Finalmente, busca involucrar a la comunidad en la revisión y mejora del portal para asegurar que las necesidades y expectativas de los usuarios se satisfagan adecuadamente.</p>
                </div>
            </div>
        </div>


    </main>

    <footer>
        <custom-footer></custom-footer>
    </footer>
    <script src="/js/menu.js"></script>
    <script src="/js/model.js"></script>
</body>
</html>


