<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2018-2022</title>
    <link rel="stylesheet" href="../../Css/styles.css">
</head>
<body>
    <header>
        <custom-header></custom-header>
    </header>
    
<main>

<!--Colocar lo del body aqui-->

</main>

<footer>
    <custom-footer></custom-footer>
</footer>
<script src="/js/model.js"></script>
<script src="/js/menu.js"></script>
</body>
</html>